<!doctype html>
<html lang="en">
  <head>
 <link rel="icon" href="https://stockton.pythonanywhere.com/static/images/Screenshot_2024-06-23_211957-removebg-preview.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://kit.fontawesome.com/5e8f9799fd.js" crossorigin="anonymous"></script>
   
    <title>Shopping Cart</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>

    
    {{#if admin}}
    {{> admin-header}}
    {{else}}
    {{> user-header}}
    {{/if}}
    {{{body}}}


<!-- footer.handlebars -->
<footer class="footer mt-5">
  <div class="footer-top bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
          <h5 class="text-uppercase">Get to Know Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">About Us</a></li>
            <li><a href="#" class="text-white">Careers</a></li>
            <li><a href="#" class="text-white">Press Releases</a></li>
            <li><a href="#" class="text-white">Kerala Mart Cares</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <h5 class="text-uppercase">Make Money with Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Sell on Kerala Mart</a></li>
            <li><a href="#" class="text-white">Affiliate Program</a></li>
            <li><a href="#" class="text-white">Advertise Your Products</a></li>
            <li><a href="#" class="text-white">Fulfillment by Kerala Mart</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <h5 class="text-uppercase">Let Us Help You</h5>
          <ul class="list-unstyled">
            <li><a href="/profile" class="text-white">Your Account</a></li>
            <li><a href="#" class="text-white">Returns Centre</a></li>
            <li><a href="#" class="text-white">100% Purchase Protection</a></li>
            <li><a href="#" class="text-white">Help</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <h5 class="text-uppercase">Contact Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Contact Customer Service</a></li>
            <li><a href="#" class="text-white">Email Us</a></li>
            <li><a href="#" class="text-white">Shipping Rates & Policies</a></li>
            <li><a href="#" class="text-white">Kerala Mart Assistant</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-dark text-dark py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-light text-md-left">
        <p><img style="     height: 82px;
    width: 147px;" src="https://stockton.pythonanywhere.com/static/images/WhiteTExtKMScreenshot_2024-06-26_035729-removebg-preview.png" alt=""><span> </span> &copy; 2024 Kerala Mart. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <a href="#" class="text-light me-3">Privacy Policy</a>
        <a href="#" class="text-light me-3">Terms of Service</a>
        <a href="#" class="text-light">Accessibility</a>
      </div>
    </div>
  </div>
</div>

</footer>

<!-- Add these to the main CSS file or within a <style> tag in the header -->
<style>
  html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .container {
    flex: 1;
  }

  .footer-top {
    background-color: #232f3e;
  }
  
  .footer-top h5 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-top ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-top ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.2s;
  }
  
  .footer-top ul li a:hover {
    color: #ddd;
  }
  
  .footer-bottom {
    background-color: #232f3e;
  }
  
  .footer-bottom p, .footer-bottom a {
    margin: 0;
    padding: 5px 0;
  }
  
  .footer-bottom a {
    color: #ddd;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    color: #fff;
  }
</style>







    

<div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToCartModalLabel">Item Added to Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Your item has been added to the cart.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continue Shopping</button>
        <a href="/cart" class="btn btn-success">Go to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="removeCartItemModal" tabindex="-1" aria-labelledby="removeCartItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeCartItemModalLabel">Remove Item from Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-weight: bold;">
        <p>You are removing this item from the cart. Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirmRemoveCartItem">Remove</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="FailedPayment" tabindex="-1" aria-labelledby="removeCartItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeCartItemModalLabel">Payment Failed!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-weight: bold;">
        <p id="descripctionPay">!</p>
        <p id="resonPay">!</p>
        <p id="usedWayPay">!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retry</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="noProductInCart" tabindex="-1" aria-labelledby="removeCartItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeCartItemModalLabel">You Have a Problem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-weight: bold;">

        <p id=""><u>-Problem-</u></p>
        <p id="">1. You Refreshed This Site</p>
        <p id="">2. You Didn't Respone For a Long Time</p>
        <p id="">3 .Session Expired</p>
        <p id=""><u>-Solution-</u></p>
        <p id="">---The Product Will be in That Order list You Can Pay From There Also!---</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="reOrderThatProduct" data-bs-dismiss="modal">Go to Home</button>
      </div>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="/javascripts/scripts.js"></script>

</body>

</html>